html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  font-family: "Surt", sans-serif;
  color: #22272e;
}

div#__next, div#__next > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
